// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.back-button-true{
  float: left;
  color: white;
}


@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/Montserrat/MontserratRegular.eot');
  src: url('../assets/fonts/Montserrat/MontserratRegular.eot?#iefix') format('embedded-opentype'),
  local('Montserrat'),
  local('Montserrat'),
  url('../assets/fonts/Montserrat/MontserratRegular.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/MontserratRegular.woff') format('woff'),
  url('../assets/fonts/Montserrat/MontserratRegular.ttf') format('truetype'),
  url('../assets/fonts/Montserrat/MontserratRegular.svg#Lato') format('svg');
  }

.ion-page ion-content{
  background-color: #3f3f3f;
}


